extends base

block vars
  - var title = 'Register'

block body
  h1 Create an Account
  form(method="post")
    input(type="hidden", name="_csrf", value=csrfToken)

    span First Name:
    input(type="text", name="firstName", required=true)
    br

    span Last Name:
    input(type="text", name="lastName", required=true)
    br

    span Email:
    input(type="email", name="email", required=true)
    br

    span Password:
    input(type="password", name="password", required=true)
    br

    input(type="submit")
